:root{
    
}



.h2{
    font-size: 2.5rem;
}

.h3{
    font-size: 2.3rem;
}

.h4{
    font-size: 1.3rem;
}

h5 {
    font-size: 0.9rem;
}

/*Navbar*/

.navbar-collapse ul li a {
    color: black!important;
}



/*Buttons*/

.btn-dark:hover{
    outline: white solid 1px;
    outline-offset: -3px;
}

.btn-section-img-big{
    color: #fff;
    background-color:#CD3D0F;
    border-color:#CD3D0F;
}

.btn-section-img-big:hover{
    outline: 1px solid black;
    outline-offset: -3px;
    color: white;
}

.btn-primary-color{
    color: #fff;
    background-color:#2D64E6;
    border-color:#2D64E6;
}

.btn-primary-color:hover{
    outline: 1px solid white ;
    outline-offset: -3px;
}

.btn-color-plus{
    color:#2D64E6;
    background-color:#F5F5F5;
    border-color:#F5F5F5;
}

.btn-color-plus:hover{
    outline: solid 1px black;
    background-color:#F5F5F5 ;
    color:#2D64E6;
}

.btn-color-now{
    color:black;
    background-color:#D9DADC;
    border-color:#D9DADC;
}

.btn-color-now:hover{
    outline: 1px solid black;
    outline-offset: -3px;
    color: black;
    background-color: #D9DADC;
}

/*First Section*/

section.container-hero{
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
    padding-bottom: 40px;
}

.content-position{
    padding-top: 150px;
}

/*Second Section*/

.card{
    border: none;
}

.choose-game img{
    border-radius: 1.25rem!important;
}

.choose-game img:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 5px #dedede;
}

.choose-game-border{
    border-radius:1.25rem;
    border: 2px solid rgb(0, 144, 206)
}

/**Third Section**/

.text-uptitle{
    color: #2D64E6;
}

.text-title-space h1{
    margin-bottom: 10px;
}

.text-title-space p{
    color: #727272;
}

/**Fifth Section**/

.product-selection{
    border-bottom: 2px solid rgb(0, 144, 206);
}

.product-selection-opacity{
    filter: opacity(50%);
}

.product-selection-opacity:hover{
    filter: opacity(2);
}

/**Sixth Section**/

.container-bg-game{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 40px;
}

/**Seventh section*/

.bg-games-container{
   background-color: #1F1F1F ;
}

/**Tenth Section*/

.bg-games-banner-plus{
  background-color: #BEBCBB;  
}

/**Thirteenth Section*/

.bg-games-banner-now{
    background-color:#161C3B;  
  }

/**Footer*/

.bg-footer{
    background-color: #00439C;
}

.play-logo-footer{
    width: 70px;
}

.globe{
    width: 20px;
}

footer ul li{
    padding: 5px 0;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

