.h2{
    font-size: 2.5rem;
}

.h3{
    font-size: 2.3rem;
}

.h4{
    font-size: 1.3rem;
}

h5 {
    font-size: 0.9rem;
}

/**/

.nav-style ul li a {
    color: black;
}

/*Buttons*/

.btn-section-img-big{
    color: #fff;
    background-color:#CD3D0F;
    border-color:#CD3D0F;
}

/*First Section*/

section.container-hero{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 40px;
}

.content-position{
    padding-top: 150px;
}

/*Second Section*/

.card{
    border: none;
}

/**Third Section**/

.text-uptitle{
    color: #2D64E6;
}

.text-title-space h1{
    margin-bottom: 10px;
}

.text-title-space p{
    color: #727272;
}

/**Fourth Section**/


